In [28]:
import numpy as np

In [29]:
import pandas as pd

In [30]:
from sklearn.datasets import load_boston

In [31]:
boston = load_boston()

In [32]:
data = boston.data

In [33]:
feature_names = boston.feature_names

In [34]:
target = boston.target

In [35]:
X = pd.DataFrame(data, columns = feature_names)

In [36]:
y = pd.DataFrame(target, columns = ['price'])

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
lr = LinearRegression()

In [41]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
y_pred = lr.predict(X_test)

In [49]:
check_test = pd.DataFrame({'y_test': y_test['price'], 'y_pred': y_pred.flatten()})
check_test.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [50]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [51]:
from sklearn.metrics import r2_score

In [54]:
r2_score(y_test, y_pred)

0.711226005748496