# Задание 1

In [83]:
import numpy as np

In [84]:
import pandas as pd

In [85]:
from sklearn.datasets import load_boston

In [86]:
boston = load_boston()

In [87]:
data = boston.data

In [88]:
feature_names = boston.feature_names

In [89]:
target = boston.target

In [90]:
X = pd.DataFrame(data, columns = feature_names)

In [91]:
y = pd.DataFrame(target, columns = ['price'])

In [92]:
from sklearn.model_selection import train_test_split

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [94]:
from sklearn.linear_model import LinearRegression

In [95]:
lr = LinearRegression()

In [96]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [97]:
y_pred = lr.predict(X_test)

In [98]:
check_test = pd.DataFrame({'y_test': y_test['price'], 'y_pred': y_pred.flatten()})
check_test.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [99]:
check_test['error'] = check_test['y_pred'] - check_test['y_test']
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [100]:
from sklearn.metrics import r2_score

In [101]:
r2_score_model_1 = r2_score(y_test, y_pred)
r2_score_model_1

0.711226005748496

# Задание 2

In [102]:
from sklearn.ensemble import RandomForestRegressor

In [103]:
model = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

In [104]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [105]:
y_pred_model = model.predict(X_test)
check_test_model = pd.DataFrame({'y_test': y_test['price'], 'y_pred_model': y_pred_model.flatten()})

check_test_model.head()

     y_test  y_pred_model
173    23.6     22.846138
274    32.4     31.156114
491    13.6     16.297226
72     22.8     23.821036
452    16.1     17.212148

In [106]:
from sklearn.metrics import mean_squared_error

In [107]:
mse_model = mean_squared_error(check_test_model['y_pred_model'], check_test_model['y_test'])
mse_model

9.31439570598467

In [108]:
check_test_model["error"] = check_test_model['y_pred_model'] - check_test['y_test']
check_test_model.head()

     y_test  y_pred_model     error
173    23.6     22.846138 -0.753862
274    32.4     31.156114 -1.243886
491    13.6     16.297226  2.697226
72     22.8     23.821036  1.021036
452    16.1     17.212148  1.112148

In [109]:
r2_score_model_2 = r2_score(y_test, y_pred_model)
r2_score_model_2

0.8749965273218174

In [110]:
if r2_score_model_2 > r2_score_model_1:
    print('Модель RandomForestRegressor работает лучше.')
elif r2_score_model_1 > r2_score_model_2:
    print('Модель LinearRegression работает лучше')

Модель RandomForestRegressor работает лучше.

#### Модель RandomForestRegressor работает лучше. работает лучше.

# Задание 3

In [111]:
?RandomForestRegressor

In [112]:
print(model.feature_importances_)

[0.03211748 0.00154999 0.0070941  0.0011488  0.01436832 0.40270459
 0.01424477 0.06403265 0.00496762 0.01169177 0.01808961 0.0123114
 0.41567892]

In [113]:
model.feature_importances_.sum()

0.9999999999999999

In [114]:
f_importance = pd.DataFrame({'name': X.columns,
                                   'feature_importance': model.feature_importances_}, 
                                  columns=['feature_importance', 'name'])
f_importance

    feature_importance     name
0             0.032117     CRIM
1             0.001550       ZN
2             0.007094    INDUS
3             0.001149     CHAS
4             0.014368      NOX
5             0.402705       RM
6             0.014245      AGE
7             0.064033      DIS
8             0.004968      RAD
9             0.011692      TAX
10            0.018090  PTRATIO
11            0.012311        B
12            0.415679    LSTAT

In [115]:
the_most_important = f_importance.nlargest(2, 'feature_importance')
the_most_important

    feature_importance   name
12            0.415679  LSTAT
5             0.402705     RM